{% extends "immoshop/base_shop.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content  %}

<div id="app">
    <h1>[[ msg ]]</h1>
    <form method="post" >
        {% csrf_token %}
        <div v-if="currentStep === 1">
            <h2>Step 1: Account Information</h2>
            {{ account_form|crispy }}
        </div>
        <div v-if="currentStep != 2">
            <h2>Step 2: Custom Information</h2>
            {{ custom_formset.management_form }}
            {% for form in custom_formset.forms %}
                <div> {{ form|crispy }} </div>
            {% endfor %}
        </div>
        <button class="btn btn-warning btn-block" v-if="currentStep > 1" @click.prevent="prevStep">Previous</button>
        <button class="btn btn-warning btn-block" v-if="currentStep < totalSteps" type="button" @click.prevent="nextStep">Next</button>
        <button class="btn btn-warning btn-block" @click.prevent="submitForm" 
                    v-else type="submit">Create Account</button>
    </form>
</div>

{% endblock  %}

{% block  extra_js %}
<script>
    vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data(){
            return{
                msg : "Create Account vue.js",
                currentStep: 1,
                form1_validate : {{ form1_validate }}, 
                form2_validate : {{ form2_validate }}, 
                totalSteps: 2,
            }
        },
        //- 
        computed:{
            suivant(){
                console.log("form1_valide = ", this.form1_validate)
                if(this.form1_validate){
                    this.currentStep = 2
                    return true
                }else {
                    return false
                }
            }
        },

        methods: {
            nextStep() {
                console.log("currentStep = ", this.currentStep)
                if (this.currentStep === 1) {
                    // si valid
                    this.currentStep++;
                } 
                else if(this.currentStep === 2) {
                    // Valider le formulaire CustomFormSet
                    $('form').submit();
                    if( this.form2_validate === 1 ){
                        $('form').submit();
                    }
                }
            },
            prevStep() {
                this.currentStep--;
            },
            submitForm() {
                // Cette méthode ne sera appelée que si les deux formulaires sont valides
                console.log("Tous les formulaires sont valides, soumission du formulaire...")
                $('form').submit();
            }
        }
    });
</script>

{% endblock  %}

