{% extends 'immoshop/base.html' %}
{% load i18n static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="well well-sm">
      <strong>Category Title</strong>
  </div>

  <div class="container mt-5">
    <div class="row">
      {% for product in products %}
      <div class="col-md-3">
          <div class="card mt-3">
              <div class="card-head">
                <img src="{% if product.images.all|length >= 1  %} {{ product.images.all.0.thumbnail_path }} {% else %} {% static 'img/thumbnail_100x100_plan-apprt-3d.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
              </div>
              <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url 'immoshop:product_immo_detail' product.pk %}">{{ product.name | slice:"0:30" }}</a>
                  </h5>
                  <div class="card-text">
                      <p class="lead">
                          <p class="text-center">Kshs. {{ product.price }}</p>
                        </p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <form action="" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input type="submit" value="Ajouter au panier" class="btn btn-warning">
                      </form>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}